useDynLib(beachtime, .registration=TRUE, .fixes="cxx_")

importFrom(Rcpp, sourceCpp)

importFrom(utils, write.table)

export(BeachmatRowSum, BeachmatColSum,
    DefaultRowSum, DefaultColSum,
    NaiveSparseRowSum, 
    BeachmatColSumNoCopy, DirectSimpleRowSum,

    ArmaRowSum, ArmaColSum,
    EigenRowSum, EigenColSum,

    BeachmatRowSumRandom, BeachmatColSumRandom,
    NaiveSparseRowSumRandom,

    standardMatrixMultiply, indexedMatrixMultiply,
    cellularDetectionRate, numCellsExpressing,

    se, timeExprs, writeToFile)

